@model IEnumerable<task2.Models.Meal>

@{
    ViewBag.Title = "Сделайте заказ";
    Layout = "_Layout";
}

<h2>Выберите блюда</h2>



@using (Html.BeginForm("MakeOrder", "Order"))
{
    foreach (var o in Model)
    {
        <p><input type="checkbox" name="@o.Name" value="@o.Id" checked>@o.Name из ресторана @o.Restaurant.Name по цене @o.Price</p>
    }
    <input type="submit" value="Submit"/>



}