@using System.IO
@model exam.Models.FileModel

@{
    ViewBag.Title = "Detail";
    Layout = "_Layout";
    var dataFile = Model.Path;
    
    var result = "";
    Array userData = null;
    char[] delimiterChar = {','};

    if (File.Exists(dataFile)) {
        userData = File.ReadAllLines(dataFile);
        if (userData == null) {
            // Empty file.
            result = "The file is empty.";
        }
    }
    else {
        // File does not exist.
        result = "The file does not exist.";
    }
}

<h2>Detail</h2>
<P>@Model.ShortDescription</P>
<p>@Model.FullDesciption</p>

@* @result *@
@* @if (result == "") *@
@* { *@
@*     <ol> *@
@*         @foreach (string dataLine in userData) *@
@*         { *@
@*             <li> *@
@*                 User *@
@*                 <ul> *@
@*                     @foreach (string dataItem in dataLine.Split(delimiterChar)) *@
@*                     { *@
@*                         <li>@dataItem</li> *@
@*                     } *@
@*                 </ul> *@
@*             </li> *@
@*         } *@
@*     </ol> *@
@* } *@