﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<exam.Models.FileModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model) {
    <tr>
        <td>
            <li>
                <a asp-controller="Home"
                   asp-action="Detail" 
                   asp-route-id="@item.Id">File: @item.ShortDescription</a>
            </li>
        </td>
        
    </tr>
}