@model exam.Models.FileModel

@{
    ViewBag.Title = "Upload";
    Layout = "_Layout";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    
    <input type="file" name="upload" /><br>
    
    <p><input type="text" name="short" placeholder="Short describtion"></p>
    <p><input type="text" name="full" placeholder="Full describtion"></p>
    <input type="submit" value="Upload" />
    
}
