﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<task2.Models.Restaurant>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Рестораны, с которыми работаем</a>.</p>
    
    @foreach (var r in Model)
    {
        <p>
            <a href="/Restaurant/Detail/@r.Id">@r.Name</a>
        </p>
    }
</div>

