@model task2.Models.LoginModel
       
@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}
       
       
<h2>Вход на сайт</h2>
        
<a asp-action="Register" asp-controller="Home">Регистрация</a>
        
<form asp-action="Login" asp-controller="Home" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>