@model task2.Models.Restaurant

@{
    ViewBag.Title = "Добавьте ресторан";
    Layout = "_Layout";
}

<h2>Добавить ресторан</h2>

<form asp-action="Add" asp-controller="Restaurant" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Name">Введите название ресторана</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <input type="submit" value="Регистрация нового ресторана" />
        </div>
    </div>
</form>