@model task2.Models.Meal

@{
    ViewBag.Title = "Добавьте блюдо";
    Layout = "_Layout";
}

<h2>Добавить блюдо</h2>

<form asp-action="AddMeal" asp-controller="Restaurant" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Name">Введите название блюда</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Price">Введите цену блюда</label><br />
            <input  asp-for="Price" />
            <span asp-validation-for="Price" />
        </div>
        <div>
            <input type="submit" value="Регистрация нового блюда" />
        </div>
    </div>
</form>