@model task2.Models.Restaurant

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

<a href="/Restaurant/AddMeal/@Model.Id">Добавить блюдо</a> 

@foreach (var meal in Model.Meals)
{
    <ul>
        <li>@meal.Name: @meal.Price</li>
    </ul>
}

